.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  max-width: 400px;
  margin: auto;
}

.ui.teal.button:focus, .ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

.homeHeader {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 7pt;
}

input[type="text"], input[type="number"], input[type="text"], input[type="password"], textarea, body {
  /* background-color: #e9ebeb; */
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
  max-height: 4rem;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: dimgray;
}

.cardShadow {
  box-shadow: 10px -10px #CCC;
  border-radius: 22rem;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}